<!DOCTYPE html>
<html>
    <head>
        <title>LeaderShip | Accueil</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="accueil.css" />
    </head>
    <header>
        <h1>LeaderShip</h1>
    </header>
    <body>
        <div id="box">
            <div id="nav">
                <ul>
                    <li id="current">Accueil</li>
                    <li >Mon profil</li>
                    <li><a href="participants.html">Participants</a></li>
                    <li><a href="mychallenge.html">Mes épreuves</a></li>
                    <li><a href="allchallenge.html">Épreuves</a></li>
                </ul>
            </div>
            <div id="content">
                <h2>Bienvenu !</h2>
                <h3>Voici les dernières épreuves qui ont été ajoutées !</h3>
                <table>
                    <tr>
                      <th id="colum1">Nom de l'épreuve</th>
                      <th>Nombre de participants</th>
                      <th>Statut</th>
                    </tr>
                    <tr>
                      <td><a href="https://example.com">Peter</a></td>
                      <td>15</td>
                      <td>Terminée</td>
                    </tr>
                    </a>
                    <tr>
                      <td>Lois</td>
                      <td>Griffin</td>
                      <td>En cours</td>
                    </tr>
                    <tr>
                      <td>Joe</td>
                      <td>Swanson</td>
                      <td>$300</td>
                    </tr>
                    <tr>
                      <td>Cleveland</td>
                      <td>Brown</td>
                      <td>$250</td>
                    </tr>
                    <tr>
                        <td>Cleveland</td>
                        <td>Brown</td>
                        <td>$250</td>
                    </tr>
                      <tr>
                        <td>Peter</td>
                        <td>15</td>
                        <td>Terminée</td>
                      </tr>
                      <tr>
                        <td>Lois</td>
                        <td>Griffin</td>
                        <td>En cours</td>
                      </tr>
                      <tr>
                        <td>Joe</td>
                        <td>Swanson</td>
                        <td>$300</td>
                      </tr>
                      <tr>
                        <td>Cleveland</td>
                        <td>Brown</td>
                        <td>$250</td>
                      </tr>
                      <tr>
                          <td>Cleveland</td>
                          <td>Brown</td>
                          <td>$250</td>
                      </tr>
                      <tr>
                        <td>Peter</td>
                        <td>15</td>
                        <td>Terminée</td>
                      </tr>
                      <tr>
                        <td>Lois</td>
                        <td>Griffin</td>
                        <td>En cours</td>
                      </tr>
                      <tr>
                        <td>Joe</td>
                        <td>Swanson</td>
                        <td>$300</td>
                      </tr>
                      <tr>
                        <td>Cleveland</td>
                        <td>Brown</td>
                        <td>$250</td>
                      </tr>
                      <tr>
                          <td>Cleveland</td>
                          <td>Brown</td>
                          <td>$250</td>
                      </tr>
                        <tr>
                          <td>Peter</td>
                          <td>15</td>
                          <td>Terminée</td>
                        </tr>
                        <tr>
                          <td>Lois</td>
                          <td>Griffin</td>
                          <td>En cours</td>
                        </tr>
                        <tr>
                          <td>Joe</td>
                          <td>Swanson</td>
                          <td>$300</td>
                        </tr>
                        <tr>
                          <td>Cleveland</td>
                          <td>Brown</td>
                          <td>$250</td>
                        </tr>
                        <tr>
                            <td>Cleveland</td>
                            <td>Brown</td>
                            <td>$250</td>
                        </tr>
                        <tr>
                            <td>Peter</td>
                            <td>15</td>
                            <td>Terminée</td>
                          </tr>
                          <tr>
                            <td>Lois</td>
                            <td>Griffin</td>
                            <td>En cours</td>
                          </tr>
                          <tr>
                            <td>Joe</td>
                            <td>Swanson</td>
                            <td>$300</td>
                          </tr>
                          <tr>
                            <td>Cleveland</td>
                            <td>Brown</td>
                            <td>$250</td>
                          </tr>
                          <tr>
                              <td>Cleveland</td>
                              <td>Brown</td>
                              <td>$250</td>
                          </tr>
                            <tr>
                              <td>Peter</td>
                              <td>15</td>
                              <td>Terminée</td>
                            </tr>
                            <tr>
                              <td>Lois</td>
                              <td>Griffin</td>
                              <td>En cours</td>
                            </tr>
                            <tr>
                              <td>Joe</td>
                              <td>Swanson</td>
                              <td>$300</td>
                            </tr>
                            <tr>
                              <td>Cleveland</td>
                              <td>Brown</td>
                              <td>$250</td>
                            </tr>
                            <tr>
                                <td>Cleveland</td>
                                <td>Brown</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                              <td>Peter</td>
                              <td>15</td>
                              <td>Terminée</td>
                            </tr>
                            <tr>
                              <td>Lois</td>
                              <td>Griffin</td>
                              <td>En cours</td>
                            </tr>
                            <tr>
                              <td>Joe</td>
                              <td>Swanson</td>
                              <td>$300</td>
                            </tr>
                            <tr>
                              <td>Cleveland</td>
                              <td>Brown</td>
                              <td>$250</td>
                            </tr>
                            <tr>
                                <td>Cleveland</td>
                                <td>Brown</td>
                                <td>$250</td>
                            </tr>
                              <tr>
                                <td>Peter</td>
                                <td>15</td>
                                <td>Terminée</td>
                              </tr>
                              <tr>
                                <td>Lois</td>
                                <td>Griffin</td>
                                <td>En cours</td>
                              </tr>
                              <tr>
                                <td>Joe</td>
                                <td>Swanson</td>
                                <td>$300</td>
                              </tr>
                              <tr>
                                <td>Cleveland</td>
                                <td>Brown</td>
                                <td>$250</td>
                              </tr>
                              <tr>
                                  <td>Cleveland</td>
                                  <td>Brown</td>
                                  <td>$250</td>
                              </tr>
                  </table>
            </div>
        </div>
    </body>
    <footer>
        <p>Copyright</p>
    </footer>
</html>