{% extends "template.html" %} {% block body %}

<div id="content">
  <h2>Modification d'une épreuve</h2>
  <form id="creaepreuve" method="post" action="action="{{ url_for('/challenge/modify') }}">
    <br />
    <label for="fname"><h3>Nom de l'épreuve</h3></label>
    <input type="text" id="namechallenge" name="name" value="" />
    <label for="fname"><h3>Description</h3></label>
    <textarea id="description"></textarea>
    <label for="fname"><h3>Date de fin</h3></label>
    <input type="date" id="date" name="date" />
    <input
      type="submit"
      onclick="confirm('Êtes-vous sûr ?')"
      id="adduser"
      name="action1"
      value="Appliquer"
    />
    <input type="submit" id="removeuser" name="action2" value="Annuler" />
  </form>
</div>

{% endblock %}
