{% extends "template.html" %} {% block body %}
<div id="content">
  <h2>Création d'une épreuve</h2>
  <form id="creaepreuve">
    <br />
    <label for="fname"><h3>Nom de l'épreuve</h3></label>
    <input type="text" id="namechallenge" name="fname" />
    <label for="fname"><h3>Description</h3></label>
    <textarea id="description"></textarea>
    <label for="fname"><h3>Date de fin</h3></label>
    <input type="date" id="date" name="fname" />
    <input
      type="submit"
      onclick="confirm('Êtes-vous sûr ?')"
      id="adduser"
      value="Appliquer"
    />
    <!redirection template ajout utilisateur>
    <input type="button" id="removeuser" value="Annuler" />
    <!redirection template ajout utilisateur>
  </form>
</div>
{% endblock %}
