{% extends "template.html"%} {% block body %}
<div id="content">
  <h2>Nom d'utilisateur !</h2>
  <h3>Voici toutes les épreuves disponibles !</h3>
    <table>
      <tr>
        <th id="colum1">Nom de l'épreuve</th>
        <th>Futur lien (a créer)</th>
        <th></th>
      </tr>
      {% for element in data %}
      <tr>
          <td>{{ element[1]}} </td>
          <td>futur url du challenge<input type="button" id="consult" value="Consulter" /></td>
      </tr>
  {% endfor %}
</div>
{%endblock %}
