<!DOCTYPE html>
<html>
    <head>
        <title>LeaderShip | Suppression d'épreuves</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="accueil.css" />
    </head>
    <header>
        <h1>LeaderShip</h1>
    </header>
    <body>
        <div id="box">
            <div id="nav">
                <ul>
                  <a href="accueil.html"><li>Accueil</li></a>
                  <a href="myprofil.html"><li>Mon profil</li></a>
                  <a href="participants.html"><li>Participants</li></a>
                  <a href="mychallenge.html"><li>Mes épreuves</li></a>
                  <a href="allchallenge.html"><li>Épreuves</li></a>
                  <input type="button" onclick="confirm('Êtes-vous sûr ?')" value="Se déconnecter">
                </ul>
            </div>
            <div id="content">
                <h2>Suppression d'épreuves</h2>
                <h3>Cochez les épreuves à supprimer</h3>
                <form>
                  <input type="button" onclick="confirm('Êtes-vous sûr ?')" id="adduser" value="Appliquer"> <!redirection template ajout utilisateur>
                  <input type="button" id="removeuser" value="Annuler"> <!redirection template ajout utilisateur>
                  <table>
                    <tr>
                      <th id="colum1">Nom de l'épreuve</th>
                      <th>Nombre de participants</th>
                      <th>Statut</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td><a href="https://example.com">Peter</a></td>
                      <td>15</td>
                      <td>Terminée</td>
                      <td><input type="checkbox" name="value1" value="1"></td>
                    </tr>
                    </a>
                    <tr>
                      <td>Lois</td>
                      <td>Griffin</td>
                      <td>En cours</td>
                      <td><input type="checkbox" name="value1" value="2"></td>
                    </tr>
                    <tr>
                      <td>Joe</td>
                      <td>Swanson</td>
                      <td>$300</td>
                      <td><input type="checkbox" name="value1" value="1"></td>
                    </tr>
                    <tr>
                      <td>Cleveland</td>
                      <td>Brown</td>
                      <td>$250</td>
                      <td><input type="checkbox" name="value1" value="3"></td>
                    </tr>
                    <tr>
                        <td>Cleveland</td>
                        <td>Brown</td>
                        <td>$250</td>
                        <td><input type="checkbox" name="value1" value="1"></td>
                    </tr>
                  </table>
                </form> 
            </div>
        </div>
    </body>
    <footer>
        <p>Copyright</p>
    </footer>
</html>