{% extends "template.html" %} {% block body %}
<!-- id_challenge, name , (validation_date - inscription_date) AS difference_date, users.name -->
<div id="content">
  <h2>{{name[0][1]}}</h2>
  <form
    method="post"
    ,
    action="{{url_for('apiValidation', id_user=current_user.user_id, id_challenge=name[0][0])}}"
  >
    <button type="submit">Participer</button>
  </form>
  <table>
    {% if data %} {% for element in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ data[loop.index - 1][3] }}</td>
      <td>{{ data[loop.index - 1][2] }}</td>
    </tr>

    {% endfor %}
  </table>
  {% else %}
  <p>La liste est vide.</p>
  {% endif %} {% endblock %}
</div>
