{% extends "template.html" %} {% block body %}
<!-- id_challenge, name , (validation_date - inscription_date) AS difference_date, users.name -->
<div id="content">
  <h2>{{name[0][1]}}</h2>
  <form>
    <!-- TO DO -->
    <input
      type="button"
      onclick="confirm('Êtes-vous sûr ?')"
      id="join"
      value="Rejoindre l'épreuve"
    />
  </form>
  <table>
    {% if data %} {% for element in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ data[loop.index - 1][3] }}</td>
      <td>{{ data[loop.index - 1][2] }}</td>
    </tr>

    {% endfor %}
  </table>
  {% else %}
  <p>La liste est vide.</p>
  {% endif %} {% endblock %}
</div>
