<!doctype html>
<html>
  <head>
    <title>LeaderShip | Connexion</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <header>
    <h1>LeaderShip</h1>
  </header>
  <body>
    <form method="post" actions="{{url_for('login') }}">
      <div id="box">
        <label for="fname">Nom d'utilisateur</label><br />
        <input type="text" id="fname" name="username" /><br /><br />
        <label for="lname">Mot de passe</label><br />
        <input type="password" id="lname" name="password" /><br /><br />
        <input id="submit" type="submit" value="Se connecter" />
      </div>
    </form>
  </body>
  <footer>
    <p>Copyright</p>
  </footer>
</html>
