{% extends "template.html" %} {% block body %}
<div id="content">
  <h3>Voici le classement de tous les participants</h3>
  <table>
    <tr>
      <th id="colum1">Participants</th>
      <th>Épreuves réussies</th>
      <th>Classement général</th>
      <th></th>
    </tr>
    <tr>
      <td><a href="https://example.com">Peter</a></td>
      <td>15</td>
      <td>Terminée</td>
      <td><input type="button" id="consult" value="Consulter" /></td>
    </tr>

    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
      <td><input type="button" id="consult" value="Consulter" /></td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Peter</td>
      <td>15</td>
      <td>Terminée</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>En cours</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>
  </table>
</div>
{% endblock %}
