<!doctype html>
<html>
  <head>
    <title>LeaderShip | Profil de nom de l'utilisateur</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='accueil.css')}}"
    />
  </head>
  <header>
    <h1>LeaderShip</h1>
  </header>
  <body>
    <div id="box">
      <div id="nav">
        <ul>
            <a href="{{url_for('home')}}"><li>Accueil</li></a>
            <a href="{{url_for('profile')}}"><li>Mon profil</li></a>
            <a href="{{url_for('index')}}"><li>Participants</li></a>
            <a href="{{url_for('mychallenges')}}"><li>Mes épreuves</li></a>
            <a href="{{url_for('allchallenge')}}"><li>Épreuves</li></a>
            <input
              type="button"
              onclick="confirm('Êtes-vous sûr ?')"
              value="Se déconnecter"
            />
        </ul>
      </div>
      {% block body%}{% endblock%}
    </div>
  </body>
  <footer>
    <p>Copyright</p>
  </footer>
</html>
