<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title></title>
</head>
<body>
    <header>
        <nav class="barre_navigation">
            <a class="case_navigation" href="index.html"> Les utilisateurs</a>
            <a class="case_navigation" href="index.html">Les épreuves</a>
            <a class="case_navigation" href="a-propos.html">Les classements</a>
          <a class="case_navigation" href="a-propos.html">Mon profil</a>
        </nav>
    </header>
  <main>
    <!--  TO DO  -->
  </main>
</body>