{% extends "template.html"%} {% block body %}
<div id="content">
  <h2>Modification du profil</h2>
  <form id="modifprofil">
    <br />
    <label for="fname"><h3>Prénom</h3></label>
    <input type="text" id="namechallenge" name="name" />
    <label for="fname"><h3>Nom</h3></label>
    <input type="text" id="namechallenge" name="name" />
    <label for="age"><h3>Âge</h3></label>
    <input type="number" name="age" min="1" max="100" />
    <label for="fname"><h3>Nationalité</h3></label>
    <input type="text" id="namechallenge" name="name" />
    <label for="fname"><h3>Description</h3></label>
    <textarea id="descriptionprofil"></textarea>
    <input
      type="submit"
      onclick="confirm('Êtes-vous sûr ?')"
      id="adduser"
      value="Appliquer"
    />
    <input type="button" id="removeuser" value="Annuler" />
  </form>
</div>
{% endblock %}
